<div class="section_accelerate aboutus">
  <div class="container">
    <h2 class="h2_head">Our Story</h2>
    <p>
      Univelcity is a tech academy designed to accelerate the growth of tech talent in Africa (A = V/T) by offering
      accelerated and immersive courses. Located in Lagos, Univelcity adopts social and project-based learning
      techniques, offering a practical edge in an ultra-modern, tech friendly learning environment that enhances
      student assimilation and retention. <br /><br />

      Univelcity reckons that with the sudden surge of tech start-ups all over the world, the need for tech skills has
      become a necessity. Also, in light of Nigeria’s growing youth unemployment population, Univelcity aims to
      contribute to the reduction of unemployment by equipping youths with tech skills to compete favourably for tech
      jobs not only in Nigeria but also in Africa.<br /><br />
      Our goal is to bring out the best in every one of our students and make them driven, passionate and outstanding
      developers. Thus supporting the growth of the ecosystem by providing world-class talent ready for employment with
      technology companies within Nigeria and around the world. This is fondly represented by the equation A = V / T
      i.e. Acceleration = Velocity [Speed] / Time. Which means, accelerate your tech skills with speed and in good
      time.<br /><br />
      Candidates who have taken our training programmes have landed internships as well as remote and full-time roles
      in top tech companies in Nigeria and around the world.</p>

    <div class="button"><a href="#">View all Courses</a></div>

  </div>
</div>