<div class="breadcrumb">
  <div class="container padLR">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Courses</a></li>
        <li class="breadcrumb-item"><a href="#">Immersive courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Frontend Development</li>
      </ol>
    </nav>
  </div>
</div>

<div class="section_accelerate dev_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="crse_abt">
          <h2 class="h2_head">About this Course</h2>
          <p>
            Learn to start working with cutting-edge libraries and frameworks, gain an understanding of how to write
            high-quality JavaScript code. Learn to build a dynamic, front-end to your web application using a
            modern JavaScript library, and use CSS to layout and style your application.</p>
        </div>
        <div class="tk_awy">
          <h2 class="h2_head">Takeaways</h2>
          <ul>
            <li><span>Learn HTML &amp; CSS</span></li>
            <li><span>Introduction To JavaScript</span></li>
            <li><span>How To Use Boostrap</span></li>
            <li><span>Learn VueJS &amp; API Implementation</span></li>
          </ul>
        </div>
        <div class="tk_awy du_sec">
          <h2 class="h2_head">Duration</h2>
          <ul>
            <li><span>Eight ( 8 ) weeks of bootcamp</span></li>
          </ul>
        </div>
        <div class="tk_awy pre_sec">
          <h2 class="h2_head">Prerequisite and Preparation</h2>
          <ul>
            <li><span>Students should come to class with a laptop that has windows 10 install in it</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 pull-right rightSEC">
        <div class="right_section">
          <ul>
            <li><img src="/images/calender.svg" alt="calender" /> <span>Starts June 5, 2018</span></li>
            <li><img src="/images/clock.svg" alt="clock" /> <span>10am - 4pm ( mon &amp; wed )</span></li>
            <li><img src="/images/area_pin.svg" alt="area_pin" /> <span>First floor, 42 Montgomery Road, Yaba, Lagos,</span></li>
            <li><img src="/images/price-tag.svg" alt="price-tag" /> <span>Price: 150,000</span></li>
          </ul>
          <div class="button"><a href="form.html">Apply</a></div>
        </div>

        <div class="get_crs">
          <span>Get update on this course</span>
          <form action="#" class="input-group-sm">
            <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Email" required>
            <button class="btn btn-info btn-lg" type="submit">Subscribe</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>