<div class="section_accelerate aboutus">
  <div class="container">
    <div class="cors_ttl">An eight ( 8 ) weeks bootcamp that help you kick start a career in Tech. <br />( Programming
      and Design )</div>

    <div class="col_immer">
      <div class="img_sec"><img src="images/cours01.png" alt="img" /></div>
      <div class="detail_sec">
        <h2>Immersive Courses</h2>
        <p>An eight ( 8 ) weeks bootcamp that help you kick start a career in Tech. ( Programming and Design )</p>
        <a href="/courses/immersive" class="learn_more">Learn more</a>
      </div>
    </div>

    <div class="col_immer">
      <div class="img_sec"><img src="images/cours01.png" alt="img" /></div>
      <div class="detail_sec">
        <h2>Accelerated Courses</h2>
        <p>This is a short course that is designed for busy executives and focuses on teching a specific framework</p>
        <a href="/courses/accelerated" class="learn_more">Learn more</a>
      </div>
    </div>

  </div>
</div>